@charset "utf-8";
/* CSS Document */

.row
{
	clear	 : both;
	display  : block;
	height   : expression('1%');
	margin   : 5px 0px 0px 0px; /* set top margin same as form input - textarea etc. elements */
	padding  : 5px 0px 0px 0px;
	#padding : 0px;
}

.product-thumb
{
	float         : left;
	margin-right  : 15px;
	margin-bottom : 5px;
	width         : 115px;
	height        : 115px;
	display       : block;
	cursor        : pointer;
}

.product-thumb img
{
	width  : 115px;
	height : 115px;
	border : none;
}

#product-text
{
	position   : relative;
	float      : left;
	width      : 410px;
	height     : auto;
	min-height : 200px;
	display    : block;
}

#product-text .title{ font-weight : bold; }

#product-text .bottom
{
	position : absolute;
	bottom   : 0;
	left     : 0;
}

.product-special{ color : #FF0000; }
